html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black; /* fallback for old browsers */
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 87.5%;
  line-height: 1.5em;
  overflow-x: hidden;
}
body {
    background-image: url("background.png");
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkred;
  outline: 1px solid slategrey;
}












.header_Container {
	height: auto;
	width: auto;

    background-image: url("header.png");
}
.header_Bar {
	height: 48px;
	width: 100%;
	max-width: 960px;

	padding: 5px;
	margin: auto;

    background-color: rgba(0,0,0,0);
    z-index: 5;
}
.header_Logo {
	height: auto;
	width: 50px;
	margin-left: 10px;

	color: Red;
	font-family: 'Lobster', cursive;
	font-size: 48px;

	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
.header_Nav {
	height: auto;
	width: auto;
	margin-right: 10px;

	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	font-size: 20px;
	font-family: 'Lobster', cursive;

	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
.header_NavSelect {
	float: right;
	color: white;
	text-decoration: none;
}
.header_NavSpace {
	float: right;
	margin-right: 5px;
	margin-left: 5px;
}
.header_NavActive {
	float: right;
	color: RED;
	text-decoration: none;
}














.home_Image {
    width: 100%;
    height: calc(100vh - 58px);
}
.home_Container {
	width: 100%;
	height: auto;
}
.home_Body {
	width: 100%;
	max-width: 960px;
	height: auto;
	margin: auto;
	margin-top: 50px;
}







.chat_Container {
	width: 100%;
	height: auto;
}
.chat_Body {
	width: 100%;
	max-width: 960px;
    height: calc(100vh - 78px);
    min-height: 200px;

	margin: auto;
	margin-top: 10px;
	border-radius: 25px;

    background-image: url("chatBackground.png");
}
.chat_UpperSection {
	width: 100%;
	height: calc(100vh - 130px);
	min-height: 200px;

	padding-top: 18px;
	overflow-y: scroll;
}
.chat_UpperSection::-webkit-scrollbar {
    width: 1em;
}
.chat_UpperSection::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.chat_UpperSection::-webkit-scrollbar-thumb {
  background-color: darkred;
  outline: 1px solid slategrey;
}
.chat_LowerSection {
	width: 100%;
	height: 40px;
	min-height: 40px;
}
.chat_Msg {
	width: 100%;
	height: auto;

	border-bottom: 2px solid rgb(0,0,0);
	color: black;
}